table {
    width:500px;  
    margin: auto; 
    border-collapse: collapse;
    margin-top: 100px;
}

tr{
    border:2px solid black;
    height: 40px;
    text-align: center;
    padding: 10px;
    vertical-align:center;
    font-size: larger;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
tr:nth-child(even){
    background-color:pink;
}

tr:nth-child(odd){
    background-color:yellow;
}

